:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --primary-button: #4d5ae5;
  --background-button: #404bbf;
  --portfolio-button-color: #ffffff;
  --html-button-color: #ffffff;
  --logo-color: #f4f4fd;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--portfolio-button-color);
  font-style: normal;
}
/* ==========COMPONENTS ========*/
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.main-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.main-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-button);
}
.logo-part-two {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;

  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-part-two-dark {
  color: var(--logo-color);
}
.logo-part-two-light {
  color: var(--primary-text-color);
}
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.main-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* ==========/COMPONENTS ========*/
/* ==========header========= */

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--background-button);
}
.contacts {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--background-button);
}
.contacts {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.main-section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
/* ==============/header========== */
/* ==============hero============= */
.modal-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--html-button-color);
  background-color: var(--primary-button);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--background-button);
  color: var(--html-button-color);
}
.portfolio-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-button);
  background-color: var(--logo-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--portfolio-button-color);
  background-color: var(--background-button);
}
.hero-section {
  background: var(--primary-text-color);
}
.hero-title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--html-button-color);
}

/* ==========/hero====================== */
/* ==============second-section========== */

/* ==============/second-section========== */
/* ======foutth section======== */
.fourth-section {
  background-color: var(--logo-color);
}
.main-section-item {
  background-color: var(--portfolio-button-color);
}

/* ======/foutth section======== */
/* =======footer====== */
.footer {
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
  background: var(--primary-text-color);
}
.footer-section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-color);
}
/* =======footer====== */
